* {
    box-sizing: border-box;
    font-family: jost-regular;
}

body {
    font-family: jost-semibold;
}

:root {
    --pipe-border-color: #b0b0b0;
    --font-color: #b1aeae;
    --primary: #000000;
    --red: rgb(231, 47, 47);
    --white: #ffff;
}

a {
    text-decoration: none;
    color: var(--font-color);
    transition: all 0.2s ease;
}

a:hover {
    color: rgb(231, 47, 47);
}

ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0;
}


/* ----------------------------------  */

.font-size-13 {
    font-size: 13px;

}

.head-text {
    color: var(--pipe-border-color) !important;
    font-weight: 600;
}

.head-text-right {
    border-right: 1px solid var(--pipe-border-color);
}

.brands a{
    color:var(--primary);
    transition: all 0.5 ease;
}
.brands a:hover{
    color: var(--red);
}
/* header 2 */

.header-2 {
    border-top: 1px solid var(--pipe-border-color);
    border-bottom: 1px solid var(--pipe-border-color);
}

.header-2 .search-header2-btn {
    padding: 15px;
    width: 40%;
    color: var(--font-color);

}

.header-2 .search-header2-btn .header-search-form {
    display: flex;
    height: 45px;
    border: 1px solid var(--pipe-border-color);
    position: relative;
    width: 100%;
}

.header-2 .search-header2-btn .header-search-form .search-box {
    /* line-height: 24px; */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    /* width: 100%; */
    /* padding: auto 0; */
}

.header-2 .search-header2-btn .header-search-form .search-box input {
    border: 0;
    margin: 0;
    padding-left: 20px;
    line-height: 38px;
    font-size: 15px;
    font-family: jost-semibold;
    color: var(--font-color);
    font-weight: 400 !important;
    overflow: visible;
    width: 100%;
}

/* -------------- select categery ------------- */
.header-2 .search-header2-btn .header-search-form .select-category .drowpdown-toggle {
    padding-left: 15px;
    line-height: 43px;
    padding-right: 3px;
}

.header-2 .search-header2-btn .header-search-form .select-category::before {
    height: 28px;
    content: "";
    position: absolute;
    border: 0.5px solid var(--pipe-border-color);
    border-radius: 0;
    top: 5px;
}

.header-2 .search-header2-btn .header-search-form .select-category .drowpdown-toggle .caret {
    top: 3px;
}

.header-2 .users a{
    color: var(--primary)
}
.header-2 .users a:hover{
color: var(--red);
}
/* ------------- botton --------------- */

.header-2 .squre_btn{
background-color: var(--primary);
border-radius: 0;
border: 1px solid var(--primary);
margin-left: 10px;
color:var(--white);
padding: 0 30px;
transition: all 0.5s ease;

}
.header-2 .squre_btn i{
    color: var(--white);
}
.header-2 .squre_btn:hover{
    background-color: var(--red);
    border-color: var(--red);
} 

.headphone {
    color: var(--red);
    font-size: 25px;
    padding: 15px;
    border: 2px solid var(--red);
    border-radius: 100%;
}

/* header manu */

.header-manu {
    list-style: none;
    text-decoration: none;
    border-bottom: 1px solid var(--pipe-border-color);
    font-weight: 600;
}

.header-manu a {

    color: #000000;
}

.header-manu a:hover {
    color: var(--red);

}




/* footer */


.footer_start {
    border-bottom: 1px solid var(--pipe-border-color);
    border-top: 1px solid var(--pipe-border-color);
}

.footer_icon a {
    border-radius: 50%;
    border: 1px solid var(--pipe-border-color);
    color: var(--primary);
    padding: 7px;
    transition: all 0.2s ease-in;

}

.footer_icon a :hover {
    color: var(--red);
}

.footer_col .footer_col_head {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer_col .footer_col_head::before {
    content: "";
    position: absolute;
    border-bottom: 0.3px solid var(--primary);
    width: 55px;
    height: 35px;
    /* margin: 10px 0; */
}

.terms .condition ul li a {
    color: var(--primary);
}

.terms .condition ul li a:hover {
    color: var(--red);
}

.subscriber-container {
    border-bottom: 1px solid var(--pipe-border-color);
}

.newsletter .logo {
    font-weight: 900;
    font-size: 60px;
}

.newsletter .text h5 {
    font-size: 25px;
    border-right: 1px solid var(--pipe-border-color);
    padding-right: 30px;
}

.subscriber-container .text p {
    color: var(--font-color);
}

.subscriber-container .form {
    line-height: 40px;
    border: 0;
    width: 70%;
}

.subscriber-container .form .subscribe-input .email_input {
    border: 0;
    border-radius: 0;
    background-color: #efe8e8;
    width: 80%;
}

.subscriber-container .form .subscribe-input {
    background-color: #efe8e8;
}

.subscriber-container .form button {
    border: 0;
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.5s ease-in;
}


.subscriber-container .form button:hover {
background-color: var(--red);
}